<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Board</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Images per page</string>
			<key>Key</key>
			<string>images_quant_preference</string>
			<key>DefaultValue</key>
			<string>4</string>
			<key>Values</key>
			<array>
				<string>images_four</string>
				<string>images_one</string>
			</array>
			<key>Titles</key>
			<array>
				<string>4</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Voice Gender</string>
			<key>Key</key>
			<string>voice_preference</string>
			<key>DefaultValue</key>
			<string>Female</string>
			<key>Values</key>
			<array>
				<string>gender_female</string>
				<string>gender_male</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Female</string>
				<string>Male</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Smart favorites</string>
			<key>Key</key>
			<string>favorite_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
